<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_ID" version="2.4">
	<display-name>eweb</display-name>
	
	<filter>
		<display-name>Encoding Filter</display-name>
		<filter-name>encoding filter</filter-name>
		<filter-class>com.csii.pe.channel.http.servlet.FixEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encoding filter</filter-name>
		<servlet-name>Dispatcher1</servlet-name>
	</filter-mapping>
	
	<listener>
		<listener-class>com.csii.pe.channel.http.SessionListener</listener-class>
	</listener>
	
	<servlet>
		<display-name>powerengine dispatcher</display-name>
		<servlet-name>Dispatcher1</servlet-name>
		<servlet-class>com.csii.pe.channel.http.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>defaultErrorView</param-name>
			<param-value>defaultError</param-value>
		</init-param>
		<init-param>
			<param-name>synchronizeOnSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>org.apache.commons.logging.LogFactory</param-name>
			<param-value>org.apache.commons.logging.impl.LogFactoryImpl</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Dispatcher1</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>